ul{
    color: red;

    
    font-family: sans-serif; 
    }
.time_estimate{
    font-weight: bold;
    color: #F4336;
    background-color: orange;

    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px
}
#to-do_button{
    font-size: 20px;
    text-align: center;
    color:#FFF;
    outline: none;
    border-style: none;
    padding: 10px;
    border-radius:3px;
    box-shadow:2px 2px 1px #90A4AE;
    display: block;
    background-color: #03A9F4;
    margin-top: 10px;
}     
#to-do_button:active{
    box-shadow:1px 1px 1px #90A4AE;
}

    
    

    
